<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <div>
    <label for="email">User Name</label>
    <input id="email" formControlName="email" type="text" />
    <div
      *ngIf="
        loginForm.get('email')?.errors &&
        (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
      "
      class="alert alert-danger w-50"
    >
      <p *ngIf="loginForm.get('email')?.hasError('required')">
        User name is required.
      </p>
      <p *ngIf="loginForm.get('email')?.hasError('minlength')">
        Minimum length is 4.
      </p>
      <p *ngIf="loginForm.get('email')?.hasError('maxlength')">
        Maximum length is 50.
      </p>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />
    <div
      *ngIf="
        loginForm.get('password')?.errors &&
        (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
      "
      class="alert alert-danger w-50"
    >
      <p *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required.
      </p>
      <p *ngIf="loginForm.get('password')?.hasError('minlength')">
        Password must be at least 5 characters long.
      </p>
      <p *ngIf="loginForm.get('password')?.hasError('maxlength')">
        Password cannot exceed 10 characters.
      </p>
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
