<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <!-- Name -->
  <div>
    <label for="name">Full Name</label>
    <input id="name" formControlName="name" type="text" />
    <div
      *ngIf="
        registerForm.get('name')?.errors &&
        (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)
      "
      class="alert alert-danger w-50"
    >
      <div *ngIf="registerForm.get('name')?.getError('required')">
        <p class="m-0">Name is required</p>
      </div>
      <div *ngIf="registerForm.get('name')?.getError('minLength')">
        <p class="m-0">Min length is 4</p>
      </div>
      <div *ngIf="registerForm.get('name')?.getError('maxLength')">
        <p class="m-0">Max length is 50</p>
      </div>
    </div>
  </div>

  <!-- Email -->
  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" />
    <small
      *ngIf="
        registerForm.get('email')?.invalid && registerForm.get('email')?.touched
      "
      class="text-danger"
    >
      Please enter a valid email address.
    </small>
  </div>

  <!-- Password -->
  <div>
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />
    <div
      *ngIf="
        registerForm.get('password')?.errors &&
        (registerForm.get('password')?.touched ||
          registerForm.get('password')?.dirty)
      "
      class="alert alert-danger w-50"
    >
      <div *ngIf="registerForm.get('password')?.getError('required')">
        <p class="m-0">Password is required</p>
      </div>
    </div>
  </div>

  <!-- Confirm Password -->
  <div>
    <label for="rePassword">Confirm Password</label>
    <input id="rePassword" formControlName="rePassword" type="password" />
    <small
      *ngIf="
        registerForm.hasError('mismatch') &&
        registerForm.get('rePassword')?.touched
      "
      class="text-danger"
    >
      Passwords must match.
    </small>
  </div>

  <!-- Phone -->
  <div>
    <label for="phone">Phone</label>
    <input id="phone" formControlName="phone" type="text" />
    <div
      *ngIf="
        registerForm.get('phone')?.errors &&
        (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)
      "
      class="alert alert-danger w-50"
    >
      <div *ngIf="registerForm.get('phone')?.getError('required')">
        <p class="m-0">Phone number is required</p>
      </div>
      <div *ngIf="registerForm.get('phone')?.getError('pattern')">
        <p class="m-0">Phone number must be 11 digits</p>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
